<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookController</servlet-name>
        <servlet-class>controllers.SearchBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigController</servlet-name>
        <servlet-class>controllers.ConfigController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>view.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDashboard</servlet-name>
        <servlet-class>view.UserDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSearchBook</servlet-name>
        <servlet-class>view.ViewSearchBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileController</servlet-name>
        <servlet-class>controllers.ChangeProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowController</servlet-name>
        <servlet-class>controllers.BorrowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>controllers.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADController</servlet-name>
        <servlet-class>controllers.ADController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendBorrowRequestController</servlet-name>
        <servlet-class>controllers.SendBorrowRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookController</servlet-name>
        <url-pattern>/SearchBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigController</servlet-name>
        <url-pattern>/ConfigController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDashboard</servlet-name>
        <url-pattern>/UserDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSearchBook</servlet-name>
        <url-pattern>/ViewSearchBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileController</servlet-name>
        <url-pattern>/ChangeProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowController</servlet-name>
        <url-pattern>/BorrowController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/BookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADController</servlet-name>
        <url-pattern>/ADController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendBorrowRequestController</servlet-name>
        <url-pattern>/SendBorrowRequestController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
